<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-row>


      <ion-col col-1 (click)="letsUpdateLS()">
        <ion-buttons align-left>
          <ion-icon class="custom_backbtn_arrow back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back"
            role="img" ng-class="back-button-icon-md" aria-label="arrow back" name="md-arrow-back"></ion-icon>

        </ion-buttons>
      </ion-col>
      <ion-col col-9 text-nowrap text-left>
        <ion-title text-nowrap text-left>Assign Homework</ion-title>
      </ion-col>
      <ion-col col-2>
        <ion-buttons end>
          <button ion-button icon-only (click)="done()">
            <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
          </button>
        </ion-buttons>
    </ion-row>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="addItem()">

    <ion-row>
      <ion-col col-6 class="background_grid" text-center>
        <p>Selected Date:</p>
      </ion-col>
      <ion-col col-6 class="background_grid" text-center>
        <p>{{selected_date}}</p>
      </ion-col>
    </ion-row>
    <ion-row>


      <ion-col col-12 *ngIf="Subjects">
        <ion-item>
          <ion-label stacked>Select Subject</ion-label>
          <ion-select formControlName="subject_id">
            <ion-option *ngFor="let item of Subjects" value="{{item.id}}">{{item.title}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-col>


    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label stacked>Description</ion-label>
          <ion-textarea stacked type="text" formControlName="description"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div float-right class="button_container_cs">
          <button ion-button>Save</button>

        </div>
      </ion-col>
    </ion-row>

  </form>
 

</ion-content>